# External Odoo addon dependencies not published in the OCA wheelhouse.
# These come from trevi-software forks and are installed by pip in the
# CI test workflow.
odoo-addon-hr_benefit @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=hr_benefit
odoo-addon-hr_contract_status @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=hr_contract_status
odoo-addon-hr_contract_values @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=hr_contract_values
odoo-addon-hr_contract_values_payroll @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=hr_contract_values_payroll
odoo-addon-hr_contract_values_resource_schedule @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=hr_contract_values_resource_schedule
odoo-addon-hr_employee_seniority_months @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=hr_employee_seniority_months
odoo-addon-hr_employee_status @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=hr_employee_status
odoo-addon-hr_employee_wizard @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=hr_employee_wizard
odoo-addon-resource_schedule @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=resource_schedule
odoo-addon-trevi_hr_job_categories @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=trevi_hr_job_categories
odoo-addon-trevi_hr_usability @ git+https://github.com/trevi-software/trevi-hr.git@18.0#subdirectory=trevi_hr_usability
odoo-addon-payroll_default_salary_rules @ git+https://github.com/trevi-software/trevi-payroll.git@18.0#subdirectory=payroll_default_salary_rules
odoo-addon-payroll_period_contract_values @ git+https://github.com/trevi-software/trevi-payroll.git@18.0#subdirectory=payroll_period_contract_values
odoo-addon-payroll_periods @ git+https://github.com/trevi-software/trevi-payroll.git@18.0#subdirectory=payroll_periods
odoo-addon-payroll_policy_group @ git+https://github.com/trevi-software/trevi-payroll.git@18.0#subdirectory=payroll_policy_group
odoo-addon-res_currency_denomination @ git+https://github.com/trevi-software/trevi-payroll.git@18.0#subdirectory=res_currency_denomination
